<!-- Extending the predefined project layout -->
{% include "layouts/navbar.html" %}

<!- This variable sets name of browser tab  -->
{% set project = "👽 Should Rule the Earth!!" %}

<div class="row">
        <div class="side">
                <h2>About The Author</h2>
                <h5>Photo of Author:</h5>
                <img src="/static/assets/cawton.png" width=70%>
                <p>Scott Cawton is totally a real human.</p>
                <p>Definately human, totally not an alien in disguise!</p>
                <!-- <p>Sponsored Advertisement</p>
                <img>ad goes here</img> I will try to create a function that chooses a random ad every time -->
        </div>
        <div class="main">
                <h2>👽 Should Rule the Earth!!</h2>
                <h5>aliens are clearly better fit to rule - June 14, 2021</h5>
                <h5>by Scott Cawton</h5>
                <img src="/static/assets/alienship.jpeg" width=70%>
                <p>In New York on May 4th, 2012, random mysterious aliens appeared out of the sky from a blue hole. Thousands and thousands of great aliens riding down on their vehicles poured out of the portal and started destroying everything.</p>
                <p>Soon, giant Leviathans also poured out of the portal and destroyed everything. Eventually, the Chitauri was destroyed and gotten rid of by the "Avengers".</p>
                <p>The "Avengers" are just a group of people looking for clout. They are annoying and don't deserve their title as "heroes". The government is corrupted and aliens would've probably been better leaders. The current government is just trying to brainwash us with 5G and trying to slowly control us and turn us into slaves. Clearly, the aliens do not own any sort of 5G nonsense, therefore they must be trying to help us.</p>
                <p>The aliens also have much better technology than us and very clearly want to help us in stopping the government. </p>
                <br><h3>Aliens should rule the Earth.</h3><br>
                <p>Humans are a disease and plague the planet. Humans are a problem to nature and need to be removed. Aliens are the solution to this. They have come as gods and cleansers.</p>
                <p>Aliens are the solution to this. They have come as gods and cleansers.</p>
                <p>They are here to help us stop the government with their superior technology and weapons. Although some of you may die, that is a sacrifice I am willing to make. This is the price to pay for fReEdOm. That is the meaning of the US and I am here to support and exercise my rights. I will take over the government with the help of the aliens and my fellow comrades. The corrupt government that is trying to brainwash us is going to be taken down.</p>
                <p>And the superior race of aliens will come back and take over as the new leaders!</p>
        </div>
</div>