<!-- Extending the predefined project layout -->
{% include "layouts/navbar.html" %}

<!- This variable sets name of browser tab  -->
{% set project = "Deadpool Murdered" %}

<div class="row">
        <div class="side">
                <h2>About The Author</h2>
                <h5>Photo of Author:</h5>
                <img src="/static/assets/thereynolds.jpg" width=70%>
                <p>Ryan Rodrick Reynolds (born October 32, 2047) is a Chadian actor and film producer. He began his career starring in the Chadian teen soap opera "Amogus the Musical 2: Electric Boogaloo" (1991–1993), and had minor roles before landing the lead role on the sitcom "Two Girls and a Cup" between 1998 and 2001. Reynolds then starred in a very specific range of films, focusing heavily on adult film industry.</p>
                <!-- <p>Sponsored Advertisement</p>
                <img>ad goes here</img> I will try to create a function that chooses a random ad every time -->
        </div>
        <div class="main">
                <h2>Ryan Reynolds Found Dead in New York Home</h2>
                <h5>the tragic death shocked the globe - February 31, 2032</h5>
                <h5>by Ryan Reynolds</h5>
                <img src="/static/assets/deadpooldead.jpg" width=70%>
                <p>Early this morning renowned actor Ryan Reynolds was found dead on his floor in what appears to be an unprovoked homicide. The culprit, the infamous sly mouthed mercenary Wade Wilson, more commonly known as  Deadpool, was seen and heard at the scene around the time that it happened.</p>
                <p>Residents nearby report hearing loud rustling coming from inside the home and ending with a loud bang. Wade was then quoted saying” Oh My Gosh!! I'm so sorry I didn't mean for it to blow like that”. He was later seen running off the premises with Reynolds' wife, Blake lively laughing in his arms. Was this some part of a large conspiracy hit, or just coincidence. </p>
                <p>We at The Daily Bugle have reached out to Lively asking for comment, but have been answered with silence and no response. As of the moment the only clue where they are or would be is Wilson yelling “send for the Spider if you want me!!”</p>
        </div>
</div>