<!-- Extending the predefined project layout -->
{% include "layouts/navbar.html" %}

<!- This variable sets name of browser tab  -->
{% set project = "Sample Article" %}

<div class="row">
        <div class="side">
                <h2>About The Author</h2>
                <h5>Photo of Author:</h5>
                <img src="/static/assets/luminary.png" width=70%>
                <p>The luminary is an extremely underprivileged young man who still succeeds despite challenges.  For example, despite being mute, illiterate, and overall an imbecile, everyone bends their backs over for him because of his birthright.  Even more inspiring, he is extremely misogynistic and [redacted]</p>
                <!-- <p>Sponsored Advertisement</p>
                <img>ad goes here</img> I will try to create a function that chooses a random ad every time -->
        </div>
        <div class="main">
                <h2>Heroes are </h2>
                <h5>hyah! hyah! hyaaaaaaaaaa - date unknown</h5>
                <h5>commmunity response* by hero</h5>
                <img src="/static/assets/pathetic.jpg" width=70%>
                <p>Hyah hya hyaaah hep hyup hyyyeeeeeeeep hyaaaaat! Hyeeh kyaah hyaah haa hyet haa haa jum jum haaaaaa.</p>
                <p>Hup hep haa hip hyup aaaaht sheek hyah hyaah hyaaaaht.  </p>
                <h4>HYAAH</h4>
                <br><br>
                <h6>* - community responses are articles written by everyday folks like you!  Anything can be submitted so contact an editor to submit an article idea.</h6>
        </div>
</div>