<!-- Extending the predefined project layout -->
{% include "layouts/navbar.html" %}

<!- This variable sets name of browser tab  -->
{% set project = "Sample Article" %}

<div class="row">
        <div class="side">
                <h2>About The Author</h2>
                <h5>Photo of Author:</h5>
                <!-- <img src="/static/assets" width=70%> -->
                <p>no image, i forgor</p>
                <!-- <p>Sponsored Advertisement</p>
                <img>ad goes here</img> I will try to create a function that chooses a random ad every time -->
        </div>
        <div class="main">
                <h2>Spider-Man: Danger to New York</h2>
                <h5>Spiderman is a menace to society - October 21, 2021</h5>
                <h5>by J. Jonah Jameson</h5>
                <img src="/static/assets/spidermanbad.jpg" width=70%>
                <p>Society is run by laws and when people break the laws, they should be punished. Everyone follows the same laws and yet one person decides that they are on top of the law. That "hero" is the masked menace, <strong>Spider man!</strong> This "hero" decides that he is such a great addition to society and helps take down criminals yet he never considers all the damage he has done. Spider-man is a mysterious figure who should not be trusted.</p>
                <p>First of all, who is he!? Why is hiding his face?! We have no idea who this man is and yet we are trusting him with saving our children. He could be a psychopath who is trying to trick the general public. In fact, that is what he is! He's just trying to manipulate you, as the public, into believing and trusting him. Eventually, he's going to stab you in the back and soon everyone will be sorry. We can't trust a mystery man who calls himself a hero. He's just a scoundrel with bad and terrible intentions. </p>
                <p>Plus, why does he run from the police!? Why doesn't he work with the police!? What's so important for him to hide that he can't show his face or show himself to the police?! Huh!? What's he trying to hide!? No one knows what he's trying to do. He could be planning on taking the world and yet nobody would know. He sus. </p>
                <p>Why does he run from the police?! Why doesn't he work with the police!? What is he trying to hide?. This man is clearly very suspicious. We have no clue who or what he is and yet he is revered as a "hero". He is clearly a villain who is using his mutations for his own gain. </p>
        </div>
</div>