<!-- Extending the predefined project layout -->
{% include "layouts/navbar.html" %}

<!- This variable sets name of browser tab  -->
{% set project = "SUPERHEROES are SUPERPRIVILEGED" %}

<div class="row">
        <div class="side">
                <h2>About The Author</h2>
                <h5>Photo of Author:</h5>
                <img src="/static/assets/redamogus.jpg" width=70%>
                <p>"Big Red" Redonovich III is one of the main characters from the IHateMockeyMoose+ original series High School Musical: The Musical: The Series. He is a Junior at East High School in Season 1 and Season 2. He is Ricky Bowen's Best Friend. In Season 1 he joins the Drama Club to support his Best Friend Ricky Bowen and becomes part of the Tech Crew for High School Musical. In Season 2, he was cast as LeFou ...</p>
                <!-- <p>Sponsored Advertisement</p>
                <img>ad goes here</img> I will try to create a function that chooses a random ad every time -->
        </div>
        <div class="main">
                <h2>Title of Article</h2>
                <h5>Superheroes must recognize their own privilage - October 14, 2021</h5>
                <h5>by Big Red</h5>
                <img src="/static/assets/heroes.jpg" width=70%>
                <p>Yuo know your favorite superheroes...Thor, Iron Man (Tony Stark), Black Panther (T’Challa), the likes. They all have one thing in common; they be privilaged as FUUUUUUUUUUUUUUUUUU-- Yeah, you heard me, our superheroes, are PRIVILIGED. Thor, is literally a god, he was born a gad, and is able to help Earth because his peploe are just more powerful than "inferior' humans. Tony Stark is a rich boi, and also very smart.However, he is probably smart only because he was able to afford the best education. T’Challa is the (inherited from his father) king of his people, meaning he’s Black Panther because of his bloodline, not purely based on his skill or intelligence. All of these guys didn’t obtain their role as defender of Earth through a fair competition. Hell, if I was given a top-class education and a ton of money even I could be Iron Man.</p>
        </div>
</div>