<!-- Extending the predefined project layout -->
{% include "layouts/navbar.html" %}

<!- This variable sets name of browser tab  -->
{% set project = "Sample Article" %}

<div class="row">
        <div class="side">
                <h2>About The Author</h2>
                <h5>Photo of Author:</h5>
                <img src="/static/assets/pepe.png" width=70%>
                <p>Barney is a dinosaur<br>From our imagination<br>When he's tall he's what we call<br>A dinosaur sensation</p>
                <!-- <p>Sponsored Advertisement</p>
                <img>ad goes here</img> I will try to create a function that chooses a random ad every time -->
        </div>
        <div class="main">
                <h2>Title of Article</h2>
                <h5>xxBarneyxx suxxss~~ bestie~~ bc he's totes thonas~~ like sweaty~~ - sometime around 2006</h5>
                <h5>by 4chan anon</h5>
                <img src="/static/assets/barneydrugs.webp" width=70%>
                <p>Everyone knows the purple giant, the Titan,  the madman, Barney. Oh? Did you think I was talking about someone else? Oh right, Thanos. Both are “evil terrible menaces who attacked earth” This article even says that Barney will/was reincarnated as an evil purple demon, which basically describes Thanos. There are people coming together as a group to kill and stop them.</p>
        </div>
</div>