{% include "layouts/navbar.html" %}
<head>
    <style>
        body, html {
            color: darkred;
            background-color: black;
            font-size: x-large;
        }
        h1, p {
            font-family: "Calibri", sans-serif;
            overflow: hidden;
        }
    </style>
    <title>HYDRA HACKJJJJJJJJJJJJJJJJJJJJJJJJJJJ</title>
</head>
<body>
    <h1>404 BIG ERROR 404 BIG ERROR 404 BIG ERROR 404 BIG ERROR 404 BIG ERROR 404 BIG ERROR 404 BIG ERROR 404 BIG ERROR 404 BIG ERROR 404 BIG ERROR 404 BIG ERROR 404 BIG ERROR 404 BIG ERROR 404 BIG ERROR 404 BIG ERROR 404 BIG ERROR 404 BIG ERROR 404 BIG ERROR </h1>
    <p>AAAAAAAAAAAAAAAAAAAAAAAHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHH</p>
    <img src="/static/assets/hydra.png" width=100%><img src="/static/assets/hydra.png" width=100%><img src="/static/assets/hydra.png" width=100%><img src="/static/assets/hydra.png" width=100%><img src="/static/assets/hydra.png" width=100%><img src="/static/assets/hydra.png" width=100%><img src="/static/assets/hydra.png" width=100%><img src="/static/assets/hydra.png" width=100%><img src="/static/assets/hydra.png" width=100%><img src="/static/assets/hydra.png" width=100%><img src="/static/assets/hydra.png" width=100%>
</body>