<!-- Extending the predefined project layout -->
{% extends "layouts/base.html" %}

<!- This variable sets name of browser tab  -->
{% set project = "Jason" %}

<!- This is a replacement block for Body in base.html -->
{% block body %}
# greet
<div class="center-block" style="margin: 2% 5% 5%; text-align:left; font-family: gilroy,serif;">
    <div class="col-12">
        <p>Hello, {{name}}!</p>
    </div>
    <div class="col-12">
        <form action="/Jason/hello" id="hello" method="POST" >
            <label for="name">Type a greeting name?</label>
            <input name="name" id="name">
            <input type="submit" value="Greetings!">
        </form>
    </div>
    <div class="col-12">
        <img src="/static/assets/PythonFlask.jpeg" style="height: 400px" >
    </div>
</div>

<!-- Setting up variables to customize "project" details to be specific to Jason -->
{% set Jour = "https://docs.google.com/document/d/1_07UqztsMrCB-25jyAmEY0PtHlpxz_5iJnr5U1ZaHe8/edit" %}

<p>Tech Talk 1 - Body Stub</p>
{% endblock %}

<!- This is turning off birds background from base.html -->
{% block background %}
{% endblock %}


