<!-- Extending the project layout, as this file will do minor customizations -->
{% extends "layouts/project2.html" %}

<!-- Setting up variables to customize "project" details to be specific to kangaroos -->
{% set project = "About Us" %}
{% set overview = "http://127.0.0.1:55555/Jason/" %}
{% set scrumboard = "http://127.0.0.1:55555/Ethan/" %}
{% set repo = "http://127.0.0.1:5555/Sophie" %}
{% set authors = "http://127.0.0.1:5555/Punnu"  %}

<!-- Setting up a block replacement to customize background to RINGS -->
{% block background %}
    <script src="{{ url_for('static', filename='three.r119.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vanta.halo.min.js') }}"></script>
    <script>
        VANTA.HALO({
            el: "body",
            mouseControls: true,
            touchControls: true,
            gyroControls: false,
            minHeight: 200.00,
            minWidth: 200.00
        })
    </script>
{% endblock %}

{% block background %}
{% endblock %}