<!-- Extending the predefined project layout -->
{% extends "layouts/base.html" %}

<!- This variable sets name of browser tab  -->
{% set project = "Punnu Greeting" %}

<!- This is a replacement block for Body in base.html -->
{% block body %}
<!- Try building a new body here ->
    <div class="center-block" style="margin: 2% 5% 5%; text-align:left; font-family: gilroy,serif;">
        <div class="col-12">
            <p>Hello, {{name}}!</p>
        </div>
        <div class="col-12">
            <form action="/Punnu/hi" id="greet" method="POST" >
                <label for="name">Type a greeting name?</label>
                <input name="name" id="name">
                <input type="submit" value="Greetings!">
            </form>
        </div>
    </div>
    <p>
        Punnu Greeting
    </p>
    <p>
        My VIdeo is WORKINGGG!11!11!!??11?!!!
    </p>
    <a href="https://docs.google.com/document/d/1fD9aVooS0dbOJZCmh1KXjiAS6M9TM4oYgXOhvFVISPk/edit?usp=sharing" target="_blank"> My CS P Journal</a>
   <img width="240" height="135" src="/static/assets/valorant-fracture-map-1-scaled.jpg" alt="here is an image of a map from valorant"> </img>

<<iframe width=400 height="400" src="https://www.youtube.com/embed/a6pbjksYUHY?autoplay=1&controls=0&showinfo=0&loop=1&playlist=a6pbjksYUHY"></iframe>

<html>
<head>
    <title>HTML Image as link</title>
</head>
<body>
The following image works as a link:<br>
<a href="https://github.com/CalrethilOfMirkwood/flask_portfolio/" target="_blank">
    <img alt="Our Fork:" src="/static/assets/github_logo.jpg/"
         width=400 height=400>
</a>
</body>
</html>

        {% endblock %}

<!- This is turning off birds background from base.html -->
{% block background %}
{% endblock %}