<!-- Extending the predefined project layout -->
{% extends "layouts/base.html" %}

<!- This variable sets name of browser tab  -->
{% set project = "Sophie, aka CalrethilOfMirkwood" %}

<!- This is a replacement block for Body in base.html -->
{% block body %}
    <title>Sophie</title>
    <a href="https://docs.google.com/document/d/1fD9aVooS0dbOJZCmh1KXjiAS6M9TM4oYgXOhvFVISPk/edit?usp=sharing" target="_blank"> My CS P Journal</a>
    <img width="400" src="/static/assets/bruhtastic.jpg" alt="hi i am sophie and here you see me on a bike" style="float: left">
    <img width="400" src="/static/assets/coolerest.jpg" alt="my passport photo stares into your soul" style="float: right">
{% endblock %}

<!- This is turning off birds background from base.html -->
{% block background %}
{% endblock %}