<!-- Extending the predefined project layout -->
{% extends "layouts/base.html" %}

<!- This variable sets name of browser tab  -->
{% set project = "Sophie, aka CalrethilOfMirkwood" %}

<!- This is a replacement block for Body in base.html -->
{% block body %}
    <title>Sophie</title>
    <div class="center-block" style="margin: 2% 5% 5%; text-align:left; font-family: gilroy,serif;">
        <div class="col-12">
            <p>Hello, {{name}}!</p>
        </div>
        <div class="col-12">
            <form action="/Sophie/hello" id="hello" method="POST" >
                <label for="name">Type a greeting name?</label>
                <input name="name" id="name">
                <input type="submit" value="Greetings!">
            </form>
        </div>
        <div class="col-12">
            <img src="/static/assets/PythonFlask.jpeg" style="height: 400px" >
        </div>
        <a href="https://docs.google.com/document/d/1p0HJV9DaE6A2R0R5cqNIFT2G01R6gcRTk_YQLqi-JYE/edit?usp=sharing" target="_blank"> My CS P Journal</a>
        <img src="/static/assets/bruhtastic.jpg" alt="hi i am sophie and here you see me on a bike">
        <img src="/static/assets/coolerest.jpg" alt="my passport photo stares into your soul">
        <h1>hello world!</h1>
    </div>
{% endblock %}

<!- This is turning off birds background from base.html -->
{% block background %}
{% endblock %}