<!-- Extending the predefined project layout -->
{% include "layouts/navbar.html" %}

<!- This variable sets name of browser tab  -->
{% set project = "Ethan Greeting" %}

<!- This is a replacement block for Body in base.html -->
{% block body %}
    <!- Try building a new body here ->
    <style>
        html, body{
            background-color: slategrey;
            color: midnightblue;
        }
        p{
            font-family: "Source Code Pro"
        }
    </style>
    <div class="center-block" style="margin: 2% 5% 5%; text-align:left; font-family: gilroy,serif;">
        <div class="col-12">
            <p>Hello, {{name}}!</p>
        </div>
        <div class="col-12">
            <form action="/Ethan/greet" id="greet" method="POST" >
                <label for="name">Type a greeting name?</label>
                <input name="name" id="name">
                <input type="submit" value="Greetings!">
            </form>
        </div>
    </div>
    <p>Ethan Greeting</p>
    <a href="https://docs.google.com/document/d/11vsWPaCuoXcu6-stnnRsQocQagZt6etMUKN_my-wCZQ/edit" target="_blank"> This is my personal AP CSP Journal that is shared with Jason</a>
    <iframe src="https://www.youtube.com/embed/czTksCF6X8Y" type="video/mp4"></iframe>
{% endblock %}


<!- This is turning off birds background from base.html -->
{% block background %}
{% endblock %}

