<!-- Extending the predefined project layout -->
{% extends "layouts/base.html" %}

<!- This variable sets name of browser tab  -->
{% set project = "!!SUS!!" %}

<!- This is a replacement block for Body in base.html -->
{% block body %}
    <!- Try building a new body here ->
    <style>
        div {
            background-image: url('amogus.png');
        }
    </style>
    <title>!!SUS DETECTED!!</title>
        <img src="amogus.png">
        <p>?sus?<br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> </p>
        <h1><strong>susususususususususususususususususuusususususususususususususususususuussusuussuus</strong></h1>
        <p><strong>?sus?</strong></p>
{% endblock %}

<!- This is turning off birds background from base.html -->
{% block background %}
{% endblock %}