<!-- Extending the predefined project layout -->
{% extends "layouts/base.html" %}

<!- This variable sets name of browser tab  -->
{% set project = "Mini-Projects" %}

<!- This is a replacement block for Body in base.html -->
{% block body %}
    <!- Try building a new body here ->
    <div class="center-block" style="margin: 2% 5% 5%; text-align:left; font-family: gilroy,serif;">
        <div class="col-12">
            <p>Hello, {{name}}!</p>
        </div>
        <div class="col-12">
            <form action="/mini/hello" id="hello" method="POST" >
                <label for="name">Type a greeting name?</label>
                <input name="name" id="name">
                <input type="submit" value="Greetings!">
            </form>
        </div>
    </div>


<a href=" https://docs.google.com/document/d/1tVUaC3fQeUhMKJCDpblcdVOeR6rB30yEkBgGS0Om9IA/edit?usp=sharing" target="_blank"> First Website Brain Write </a>
<a href="https://github.com/CalrethilOfMirkwood/flask_portfolio/projects/1" target="_blank"> Scrum Board </a>


<!- Below is the Bootstrap code for a grid -->


</div>
<div class="container">
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Email</th>
        </tr>
        <tbody>
        <tr>
            <td>John</td>
            <td>Doe</td>
            <td>john@example.com</td>
        </tr>
        <tr>
            <td>Mary</td>
            <td>Moe</td>
            <td>mary@example.com</td>
        </tr>
        <tr>
            <td>July</td>
            <td>Dooley</td>
            <td>july@example.com</td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>
<hr>
<button onclick="myFunction()">Click me</button>

<p id="demo"></p>
<p id="demo2" onclick="myFunction2()">Hello World</p>
<script>
    function myFunction() {
        document.getElementById("demo").innerHTML = "Hello World";
    }
</script>

<script>
    function myFunction2() {
        document.getElementById("demo2").innerHTML = "YOU CLICKED ME!";
    }
</script>
<img src="/static/assets/Xbox Scrapbook.jpg" id="myImg" height="200" width="200" alt="Xbox Scrapbook">
<input type="button" onclick="changeImg()" value="Change" />
<script>
    function changeImg() {
        document.getElementById("myImg").src = "/static/assets/bulb_on.jpg"
    }
</script>



{% endblock %}
<!- This is turning off birds background from base.html -->
{% block background %}
{% endblock %}