<!-- Extending the predefined project layout -->
{% extends "layouts/base.html" %}

<!- This variable sets name of browser tab  -->
{% set project = "Videos" %}

<!- This is a replacement block for Body in base.html -->
{% block body %}
    <h1>Tech Talk 1</h1>
    <video controls><source src="https://drive.google.com/uc?export=download&id=10uBKtVTNeEcgQx8RQYaB87j5VtbcsiNG" type="video/mp4"></video>
    <h1>Sprint 3 - Week 4</h1>
    <video controls><source src="/static/assets/Sprint_34_Week_4.mp4" type="video/mp4"></video>
{% endblock %}

<!- This is turning off birds background from base.html -->
{% block background %}
{% endblock %}
